.container-content {
    height: 765px;
    width: 100%;
    background: white;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    background-image: url(../../../img/background.png);
}

.container-text {
    width: 550px;
    height: 265px;
    
    background: #ffffff;

    border-radius: 7px;
}

.title-content {
    text-align: left;
    letter-spacing: 1.5px;
    margin-left: 12px;
    margin-top: 12px;

    font-size: 42px;
    color: rgb(207, 53, 53);
}

.text-content {
    text-align: justify;
    margin-top: 12px;
    margin-left: 12px;
    margin-right: 12px;
    letter-spacing: 1.5px;

}

.a-btn {
    text-align: center;
}

.somos-button {
    margin-top: 12px;
    margin-left: 12px;

    text-align: center;
}



.container-image {
    margin-top: 85px;
    width: 450px;
    height: 450px;
    
    background: #cccccc;
}

.image-content {
    width: 450px;
    height: 450px;
}

@media only screen and (max-width: 870px) {
    .container-content {
        flex-direction: column;
    }

    .container-text {
        

        margin-top: 50px;

        width: 68%;
        height: 500px;
    }

    .image-content {
        width: 150px;
        height: 250px;

        display: none;
    }

    .container-image {
        display: none;
    }
}