.footer-content {
    width: 100%;
    height: 165px;
    background: white;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;


}

.footer-text {
    margin-top: 14px;

    width: 50%;
    height: 190px;

    text-align: center;

}

.footer-para {
    color: #5a7270;

    letter-spacing: 1.5px;
}

.footer-title {
    margin-top: 12px;

    letter-spacing: 2.5px;

    color: #5a7270;

    
}

.footer-logos {
   
    margin-top: 14px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.facebook-content {
    
    

    
}

.facebook-logo {
    height: 40px;
    margin-left: 12px;
    margin-right: 12px;
}

.instagram-content {
    
    
}

.link {
    
    
}





